<h1>Welcome to Admin Page</h1>


    <p-menubar [model]="items"></p-menubar>
    
    <div style="margin-left:10%">
    
      <div class="w3-container w3-teal main-header">
        <!-- <h2>Cheap Efficient and Easy to use online shop
        </h2> -->
      </div>
      
      <div class="">
        <!-- <button class="btn nav"><i class="fa fa-shopping-cart"></i> {{customer?.cart?.products?.length}}</button> -->
      </div>
      <br><br>  <br><br>
      <div>
        <router-outlet></router-outlet>
      </div>
    
      </div>
    <!-- </div> -->


<router-outlet></router-outlet>