@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}



/* admin */

*{
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
}


/* table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;

} */

td,
th {
    border: 1px solid #ddd;
    padding: 6px 4px 6px 4px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    
}

td button {

    width: max-content;
    height: 30px;
}

/* Table ends */

h1 {
    color: black;
    font-size: 32px;
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
}

 input {
    margin: 10px;
    padding: 10px;
}

.row {
    display: flex;
    border: none;
} 



button {
    padding: 8px;
    text-align: center;
    margin: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: rgb(46, 48, 46);
}

/*   */
.required {
    color: red;
    display: block;
    margin: -2px;
    margin-right: 18px;
}

h3{

    font-size: 18px;
    color: #212529;
}



