.main{
    /* background-image: url("../../assets/pexels-min-an-1087727.jpg");
    filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
}

#customerDialog {
    margin: auto;
    background-color: grey;

}

body {
    margin-left: auto;
    margin-right: auto;
}

.submit,.closeForm {
    margin: 8px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    font-size: 14px;
}




.customerEdit,
.customer-delete {
    font-weight: bold;
    text-align: center;
    width: auto;
    margin: 8px;
}

.customer-delete {

    border: none;
}

.fill-details,p{
    margin-left: 12px;
    font-weight: bold;
    font-size: 18px;
}

.fill-details{
    color: #fa5252;

}